@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .print-break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
  .page-break-inside-avoid {
    page-break-inside: avoid;
  }
  .break-inside-avoid {
    break-inside: avoid;
  }
}
